* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #DBDFEA;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #9BA4B5;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}

a {
    color: whitesmoke;

}

nav i {
    font-size: 40px;
}

li {
    font-size: 1.1rem;
    padding: 30px;
    transition: all 2s ease;
}

.logo {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-left: 15px;
}

.logo h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    color: #3C486B;
}

nav li:hover {
    background-color: #3C486B;
}

main {
    width: 100%;
    height: 90vh;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
}

.giris-yazi {
    text-align: center;
    margin-top: 50px;
}

.giris-yazi h1 {
    font-style: italic;
    color: #3C486B;
}

.giris-section {
    width: 500px;
    height: 500px;
    border: 5px solid #3C486B;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
    transform: translate(-20%, -20%);
}

.giris-btn {
    border-radius: 10px;
    background-color: #3C486B;
    color: white;
    margin-top: 50px;
    border-color: black;
    cursor: pointer;
}

form a {
    position: relative;
    right: 20px;
    bottom: 10px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #9BA4B5;
    margin-top: 50px;
    height: 150px;
}

footer ul {
    display: flex;
    align-items: flex-end;
}

.logo i {
    font-size: 40px;
}

ul i {
    font-size: 25px;
}